<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/style.css" type="text/css" />
    <title>Flu & Cold in Babies and Toodlers</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarFluCold" aria-controls="navbarFluCold" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarFluCold">
                <ul class="navbar-nav mr-left">
                    <li class="nav-item">
                        <a class="nav-link" href="#introduction">Flu & Cold</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#symptoms">Symptoms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prevention">Prevention</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#treatment">Treatment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#free-vaccination">Free Vaccination</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mr-right" href="#"><span class="brand">GHS</span></a>
        </nav>
    </header>
    <section>
        <div class="main-page">
            <!--Bootstrap 4 text transformation center -->
            <div class="h1-container">
                <!--Bootstrap padding left 5-->
                <h1 class="pl-5 h1-padding">
                    <br><span>Flu & Cold</span>
                    <br><span>in</span>
                    <br><span>Babies and Toodlers</span>
                </h1>
            </div>
        </div>
        <div id="introduction" class="">
            <div class="container pt-4">
                <!--Bootstrap 4 padding top and bottom 4-->
                <h2 class="py-4">Flu & Cold</h2>
                <!--Bootstrap 4 Grid System-->
                <div class="row">
                    <div class="col-sm-6 intro-img">
                        <!--Bootstrap 4 width 100-->
                        <img class="w-100" src="../static/assets/media/photos/flu_virus_particles.jpg" alt="Flu Virus Particles">
                    </div>
                    <div class="col-sm-6 intro-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Iusto aperiam reiciendis ut ratione porro, nulla molestiae minus, doloremque molestias, 
                        dicta quo debitis nisi doloribus quaerat soluta animi eius eligendi. 
                        Nihil quidem cum magni vero veniam mollitia velit, quaerat nesciunt, voluptate ex, 
                        adipisci fugit ipsum! Ducimus laboriosam officia illum repellendus veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div id="symptoms">
            <div class="container">
                <!--Bootstrap 4 padding top and bottom 4-->
                <h2 class="text-right py-4">Symptoms</h2>
                <!--Bootstrap Grid System-->
                <div class="row">
                    <!--Bootstrap pt-2-->
                    <div class="col-sm-6 sympt-text pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nesciunt, iure. Eum rem odit blanditiis adipisci esse molestiae cupiditate iure tempore vel quia quidem, 
                        dolorem non est soluta porro nam, corrupti voluptatum dicta ullam quae. 
                        Corrupti doloribus ab vitae perferendis explicabo eos, sint doloremque incidunt libero, 
                        facilis, quasi corporis labore, magnam voluptatibus ut voluptas consequuntur. Reiciendis.
                </div>
                    <div class="col-sm-6 sympt-img">
                        <!--Bootstrap 4 width 100 and padding bottom and top 3-->
                        <img class="w-100 py-3" src="../static/assets/media/photos/baby_cute_face.jpg" alt="Baby Cute Face">
                    </div>
                </div>
            </div>
        </div>
        <div id="prevention">
            <div class="container">
                <!--Bootstrap 4 padding top and bottom 4-->
                <h2 class="py-4">Prevention</h2>
                <!--Bootstrap Grid System-->
                <div class="row">
                    <div class="col-sm-6 preven-img">
                        <!--Bootstrap 4 width 100-->
                        <img class="w-100" src="../static/assets/media/photos/arm_vaccination.jpg" alt="Arm vaccination">
                    </div>
                    <div class="col-sm-6 preven-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis enim omnis sapiente dignissimos, dolores illum at, iusto? 
                        Non inventore quis, consequuntur praesentium, iusto nemo at, rerum deleniti quae quod esse.
                    </div>
                </div>
            </div>
        </div>
        <div id="treatment">
            <div class="container">
                <!--Bootstrap 4 padding top and bottom 4-->
                <h2 class="text-right py-4">Treatment</h2>
                <!--Bootstrap Grid System-->
                <div class="row">
                    <!--Bootstrap pt-2-->
                    <div class="col-sm-6 treat-text pt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Corporis quasi voluptas hic ea culpa accusamus assumenda laudantium magni fugit voluptatum saepe, 
                        vero nostrum beatae commodi nesciunt sapiente, cupiditate a dicta nobis dolorum! 
                        Ad mollitia iste omnis expedita nesciunt excepturi nam soluta minus ipsum totam iure impedit quam, 
                        temporibus fuga distinctio perferendis cum sit. Rerum illum commodi beatae id aspernatur a, 
                        unde ipsum ut totam atque.
                    </div>
                    <div class="col-sm-6 treat-img">
                        <!--Bootstrap 4 width 100 and padding bottom and top 3-->
                        <img class="w-100 py-3" src="../static/assets/media/photos/lemon_ginger_tea.jpg" alt="Lemon & Ginger tea">
                    </div>
                </div>
            </div>
        </div>
        <div id="free-vaccination">
            <!--Bootsrap padding bottom 5-->
            <div class="container pb-5">
                <!--Bootstrap 4 padding top and bottom 4-->
                <h2 class="py-4">Find free Flu vaccination</h2>
                <!--Bootstrap Grid System-->
                <div class="row">
                    <div class="col-sm-6 vac-img">
                        <!--Bootstrap 4 width 100-->
                        <img class="w-100" src="../static/assets/media/photos/flu_vaccine.jpg" alt="Flu Vaccine">
                    </div>
                    <div class="col-sm-6 vac-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nulla unde sint, repellendus, possimus tenetur officiis quod provident molestias itaque nemo magnam, 
                        minima quae natus cum!
                        <div class="vac-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <!--Bootstrap 4 padding bottom and top 3-->
        <div class="bg-footer container-fluid py-3">
            <!--Bootstrap 4 Grid System-->
            <div class="row">
                <div class="col-sm-2 offset-sm-1">
                    <span class="footer-items"><a href="#" target="_blank">Contact & Address</a></span>
                </div>
                <div class="col-sm-2">
                    <span class="footer-items"><a href="#" target="_blank">Terms of Service</a></span>
                </div>
                <div class="col-sm-2">
                    <span class="footer-items"><a href="#" target="_blank"> Privacy Policy</a></span>
                </div>
                <div class="col-sm-2">
                    <span class="footer-items">Copyright@2020 GHS</span>
                </div>
                <div class="col-sm-2">
                    <span class="footer-items">All Rights Reserved</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/assets/js/granim.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>